@charset "utf-8";


@font-face {
    font-family: font1;
    src: url(fonts/Roquen\ DEMO.otf);
}

@font-face {
    font-family: font2;
    src: url(fonts/Crepitus-monogram.ttf);
}

:root{
    --paleta-cor-1:#002e44;
    --paleta-cor-2:#023e55;
    --paleta-cor-3:#054e65;
    --paleta-cor-4:#075d76;
    --paleta-cor-5:#096d86;
    --paleta-cor-6:#1a90b4;
    --paleta-cor-7:#39a9c7;
    --paleta-cor-8:#58c2da;
    --paleta-cor-9:#76daec;
    --paleta-cor-10:#95f3ff;
    --paleta-cor-11:#00a0ab;
    --paleta-cor-12:#0ab3be;
    --paleta-cor-13:#14c6d1;
    --paleta-cor-14:#1dd9e3;
    --paleta-cor-15:#27ecf6;
    
}

body{
    background-color: var(--paleta-cor-4);
    text-align:center;
    font-family: font1;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 30px;
    animation: surgir 1.7s ease-out;
    animation-range: cover 0 cover 40%;
    color: #ffffff;
    font-size: 10px;
    text-align: justify;
}


.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    margin-bottom: 2em;
}

.card div{
    padding: 2em;
}

.card h3{
    margin-bottom: 2em;
}

img{
    width: 100%;
    
}

.card:nth-child(even) img{
    order: 2;
}

h2{
    font-family: font1;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    text-shadow: 10px 10px 10px #00a0ab;
}

span{
    color: var(--paleta-cor-15) ;
    
}

h3{
    font-family: font2;
    font-size: 45px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right: 60px;
}

h3:hover{
    font-size: 40px;
    text-shadow: 5px 5px 10px var(--paleta-cor-15);
}

.cadastro{
    margin-left: 200px;
    border-radius: 50px;
}

.cadastro:hover{
    border: solid 3px var(--paleta-cor-15);
}

body{
    background-color: var(--paleta-cor-1);
    background-size: cover;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: font1;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

header{
    background-color:var(--paleta-cor-2);
    display: flex;
}

header img{
   height:60px;
}

a{
    text-decoration: none;
    

}

h1{
    font-family: font1;
    color: rgb(240, 248, 255);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
    font-size: 40px;
    text-shadow: 10px 10px 15px var(--paleta-cor-15);
}

.Logo{
    margin-left: 30%;
    height: 400px;
}

.home:hover{
    box-shadow: 2px 2px 10px var(--paleta-cor-15);
    
}
